*{
    margin:auto;
    padding:0;
    box-sizing: border-box;
}
.matrixCell{
    width: 60px;
    padding:10px;
    border:1px solid #b1b1b1;
    text-align:center;
    margin:10px;
}
.matrixCell:hover{
    background-color: #f0f0f0;
    cursor:pointer;
}
.matrixRow{
    display:flex;
}
.matrix{
    width:700px;
    margin:auto;
}
.zogi{
    background-color:blue;
}
.ezogi {
    background-color: red;
}
.triangle {
    width: 700px;
    margin: auto;
    background-color:red;
}

.traingleRowzogi {
    color: blue;
    text-align: left;
}
.traingleRowezogi {
    color: red;
    text-align: left;
}
.traingleRowzogi1 {
    color: blue;
    text-align: right;
}

.traingleRowezogi1 {
    color: red;
    text-align: right;
}.kkk{
     background-color:yellow;
 }