*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.formRegistration {
    width: 600px;
    margin: 60px auto;
    border: 1px solid #c1c1c1;
    padding:20px;
    box-shadow: 10px 10px 5px #888888;
}
.fields{
    list-style:none;

}
.field{
    margin:10px 0px;
    background:white;
    position:relative;
}
input:not([type='checkbox'],[type='radio']), select, textarea {
    width: 390px;
    padding: 7px;
}
label{
    border: 1px solid #c1c1c1;
    display:inline-block;
    width:160px;
}
input[type='checkbox'], [type='radio'] {
    margin-left:8px;
}
button{
    width:240px;
    padding: 10px;
}
.leftMargin{
    margin-left:165px;
}
.icon{
    position:absolute;
    width:16px;
    top:5px;
    right:10px;
}
.icongender{
    width: 20px;
    margin-left:7px;
}
.genderfield{
    display:flex;
    padding-top: 8px;
}