* 
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.wraper
{
    margin:auto;
    width: 1420px;
}
.header {
    display: flex;
    justify-content: space-between;
    background: #e59090;
    padding-top: 35px;
    padding-bottom: 24px;
    padding-left:60px;
    padding-right:58px;
    font-size:25px;
    color:white;
}
.Menu 
{
    display: flex;
    list-style: none;
}
.item
{
    margin: 0 46px;
}
.main {
    background-image: url('../background.png');
    padding-top: 185px;
    padding-bottom:140px;
}
.MainTitle {
    font-size: 98px;
    margin-left: 124.63px;
    color:white;
    
}
.Text {
    margin-top: 70px;
    font-size: 24px;
    padding-bottom: 50px;
    margin-left: 50px;
    color: white;
}
.OrderNow {
    font-size: 25px;
    display: block;
    height: 66px;
    width: 322px;
    background-color: green;
    border-radius: 25px;
    color: white;
    text-align: center;
    padding-top: 21px;
    margin-left: 55px;
    text-decoration: none;
}
.OrientalSushi {
    background-image: url('../background2.jpg');

}
.S1Title{
    font-family:'Nigger';
    padding-top: 240px;
}
.T1 {
    font-size: 29.74px;
    padding-top: 60px;
}
.Ordernow{
    
}

@font-face {
    font-family: 'Nigger';
    src: url('../NiggerFont/Montserrat-VariableFont_wght.ttf') format('truetype');
}