* 
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.wraper
{
    margin:auto;
    width: 1440px;
    background: #b6ff00;
}
.header {
    display: flex;
    justify-content: space-between;
    background: #e59090;
    padding-top: 35px;
}
.Menu 
{
    display: flex;
    list-style: none;
}
.item
{
    margin: 0 46px;
}