* 
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.wraper
{
    margin:auto;
    width: 1420px;
    background: #b6ff00;
}
.header {
    display: flex;
    justify-content: space-between;
    background: #e59090;
    padding-top: 35px;
    padding-bottom: 24px;
    padding-left:60px;
}
.Menu 
{
    display: flex;
    list-style: none;
}
.item
{
    margin: 0 46px;
}
.main {
    background-image: url('../background.png');
    padding-top: 180px;
    

}
.MainTitle {
    padding-left: 70px;
    font-size: 124.63px;
    color: white;

}
.Text {
    padding-top: 68px;
    padding-bottom:51px;
    padding-left: 51px;
}
.OrderNow {
    padding-left: 51px;
    padding-bottom:155px;
    display: block;
}
